[2018-07-18 13:30] evgentset opened #5 "Illegal moves (the pawn can move backwards, a1 a3 from start etc )"
First of all, many thanks for this library, it is very helpful.
During using it I found a bug, I suppose. Steps to reproduce are:
1. e2 e4
2. e7 e5 (or any other move)
3. e4 e2

Expected result - "e4 e2" is illegal move for pawn. The Pawn can never move backwards.
Actual result - board.doMove(move, true) returns true.

I suppose that need to change something in method isMoveLegal(Move move, boolea

[2018-07-18 14:39] evgentset commented on #5
Also I found that there are a lot of similar illegal moves which  board.doMove(move, true) is allowed, like e1 e3 from start etc. So maybe I use it incorrect way? Because  MoveGenerator.generateLegalMoves(board) is generated all legal moves correctly.
Could anybody explain what went wrong?

[2018-07-19 07:30] bhlangonijr commented on #5
Hi @evgentset, yes I agree the name of the function `isMoveLegal` is misleading in regards to what it actually does. This library is a by-product of an UI development and for checking the legality of a move I actually call `MoveGenerator.generateLegalMoves(board)` and match the results against the move user is trying to play before executing `board.doMove(move)`. It means that you are free to use

[2018-07-19 09:03] evgentset commented on #5
ok, as you said, I've written util function to check it (koltin code, but java will be very similar):
[code]
So yes, it's just misleading for function name. You can mark these methods as deprecated in new library version, and copy them with another names. So users can easy migrate to another methods. I suppose it's acceptable solution for it.

Btw, I have not found function like
` List<Move> getLe

[2018-07-19 13:04] #5 closed

[2018-08-01 12:14] evgentset opened #6 "possible bug in MoveList.toSanArray() and toFanArray()"
Hi once again)

After I used MoveList.remove(Move) method, MoveList.toSanArray() returns incorrect value, because 'dirty' variable wasn't changed false by default and 'sanArray' is not nul  (as I have used toSanArray() before ).

[code]

So, possible solutions are :
1. override other methods from LinkedList where dataset is changing and set 'dirty  = true'
2. remove ' if (!dirty && sanArray != nul

[2018-08-01 13:02] bhlangonijr commented on #6
Hi Eugene!

Thank you for your contributions!

Maybe the best option would be composing and not inheriting from
LinkedList. But as it stands now I would prefer going with your #1option.
Will do the change and take your suggestion on the protected methods.

Regards,
Ben

On Wed, Aug 1, 2018 at 2:14 PM, Evgen <notifications@github.com> wrote:

[2018-10-17 09:12] alexmatv70 opened #8 "Coudn't parse destination square[cxd8Q]: CXD8Q"
Hi,

Just tried to parse pgn from 34th European Club Cup (http://chess-results.com/tnr373918.aspx?lan=11) and got the following exception:
[code]
pgn is attached
[cup.pgn.zip](https://github.com/bhlangonijr/chesslib/files/2486596/cup.pgn.zip)

Code fragment is from readme
[code]

[2018-10-17 17:09] bhlangonijr commented on #8
Hi @alexmatv70, this bug has been fixed in version 1.1.4
chesslib was expecting an equal sign to identify pawn promotions. The absence of it and the extra char for the promotion was causing the error reported. It's fixed to work without the equal sign now. Would you validated and close the issue. Thanks!

[2018-10-18 06:55] alexmatv70 commented on #8
Yes, this case is fixed in 1.1.4 but there are 3 other similar exceptions on the same data:
[code]
Could you please check this?

[2018-10-18 14:06] bhlangonijr commented on #8
@alexmatv70 yes, we still had some bugs. It should be fixed now in version 1.1.5. Please validated.

Thank you,
Ben

[2018-10-19 08:15] alexmatv70 commented on #8
Version 1.1.5 is not available in repository yet. Please notify when ready.

[2018-10-22 06:48] alexmatv70 commented on #8
Checked on version 1.1.5
The problem is still actual. I see lot of such exceptions trying to parse games from https://chess-db.com/public/downloads/gamesfordownload.jsp - Grandmasters' all games (both).
Examples:
`
com.github.bhlangonijr.chesslib.move.MoveConversionException: Couldn't parse SAN to MoveList: Illegal move: e8g8 [O-O] on 1Bb1k2r/4bpp1/2np3p/1R2p3/4P3/8/2PN1PPP/R5K1 b - - 0 26
com.git

[2018-10-23 07:49] bhlangonijr commented on #8
@alexmatv70 Thank you for pointing out this bug. This is something related to the state of castle rights during the process of the PGN file. If you process the games individually there are no errors but when you process the collection castle rights state is in error. I am fixing it and will do a new release.

[2018-10-25 20:35] henkvo opened #9 "MoveConversionException Illegal move while the match is legal?"
Hi all,
Some matches give the following MoveConversionException while the matches played are legal themselves.
The following example:
com.github.bhlangonijr.chesslib.move.MoveConversionException: Couldn't parse SAN to MoveList: Illegal move: e1g1 [O-O] on r3k2r/p3p1bp/2p3p1/1p6/3Pp3/1Qn1P2P/3N1PPB/q2BK2R w kq - 2 23
	at com.github.bhlangonijr.chesslib.move.MoveList.addSanMove(MoveList.java:496)
	a

[2018-10-25 21:10] bhlangonijr commented on #9
Hello @henkvo,
This is something related to the state of castle rights during the process of the PGN file. I am fixing it and will do a new release.

[2018-10-25 23:29] bhlangonijr commented on #9
Hello @henkvo, it should be fixed in version 1.1.7

[2018-10-25 23:32] bhlangonijr commented on #8
Hi @alexmatv70 ,
this issue should be fixed in version 1.1.7

Although I found an invalid move in one game from the PGN you pointed me to: Move Kg2 in 46. Qb7+ Kg2 is not a valid one:

[Event "52^ Torneo Scacchistico Internazionale di Capodanno di Reggio Emilia"]
[Site "?"]
[Date "2010.01.05"]
[Round "1"]
[White "Vocaturo, Daniele"]
[Black "Brunello, Sabino"]
[Result "0-1"]
[PlyCount "0"]
[TimeCon

[2018-10-26 12:51] henkvo commented on #8
Hi all,
I have just tested the fix version 1.1.7 and the issue has been solved.
Greets Henk

Van: Ben-Hur Carlos Vieira Langoni Junior <notifications@github.com>
Verzonden: vrijdag 26 oktober 2018 01:33
Aan: bhlangonijr/chesslib <chesslib@noreply.github.com>
CC: Subscribed <subscribed@noreply.github.com>
Onderwerp: Re: [bhlangonijr/chesslib] Coudn't parse destination square[cxd8Q]: CXD8Q (#8)

Hi

[2018-12-10 16:19] rulogarcillan opened #10 "How to generate pgn string from a Board"
Hello,

Is it possible to obtain a pgn string having only one board where movements have been made? The only way I see is creating a game but I can not add my board

[2018-12-10 18:07] bhlangonijr commented on #10
Hello @rulogarcillan,
Yes, you can do the follow:
[code]

You don't really need to set a Board to the Game.

[2018-12-11 10:13] rulogarcillan commented on #10
Now it is much clearer.

Thank you very much, great library

[2018-12-11 10:13] #10 closed

[2018-12-11 11:23] HBiSoft opened #11 "Get positions from pgn"
Hi, is it possible to get individual positions from a pgn file?

For example, when pressing "next" I would like to get the next move and when pressing "previous" I would like to get the previous move.

[2018-12-11 13:12] bhlangonijr commented on #11
Hi @HBiSoft ,
Yes you can try the follow:
[code]
you also have the methods `gotoPrior` and `gotoLast`.

[2018-12-11 13:19] HBiSoft commented on #11
Awsome, thank you very much.

[2018-12-11 13:19] #11 closed

[2018-12-11 13:22] #8 closed

[2018-12-12 05:18] HBiSoft commented on #11
@bhlangonijr I hope you don't mind me asking, but how can I do the above outside a for loop. I tried getting reference to `Game` by calling `Game game = new Game();` but this argument requires a `String` and a `Round`? Thank you once again

[2018-12-12 07:20] HBiSoft commented on #11
@bhlangonijr I only have one more issue, if you can please help me.

The problem I have is that `partialMoves.toSan()` will return, for example `e4 e6`. The next time I press `Next` it will return, for example `e6 e4 d4 d5` and so on.

What I'm trying to achieve is to get the next move only for example if I press `Next` I want to get `e6` then `e4` and so on.

Is that possible?

This is what I cur

[2018-12-12 08:15] bhlangonijr commented on #11
Hi @HBiSoft,
The code below should behave exactly as you expect:
[code]
For this PGN:
[code]
It'll give me:
[code]

Maybe you somehow are calling `gotoNext` twice?

[2018-12-12 08:46] bhlangonijr commented on #11
@HBiSoft cool, let me know if I can help you in any issue

[2018-12-12 11:05] HBiSoft commented on #11
@bhlangonijr I have one last issue, I promise this is the last one lol.

Currently I get the next position back as, for example `fxe5` or `Nc6`, but when I make a move, it requires me to call the following:

`board.doMove(new Move(Square.E2, Square.E4));`

How would I then translate `fxe5` to a square?

* I noticed that I can call `Square.fromValue(someStrring)`, but it also requires a square like

[2018-12-12 11:59] HBiSoft commented on #11
@bhlangonijr Ok great that makes sense, so instead of getting the actual move that was played, I should get the "start" and "end" squares.

I did the following to get the above:

`Game.getCurrentMoveList().get(refGame.getPosition()).toString()`

This returns `e4e5`, I guess I can then convert that to uppercase and split the string to get 2 separate values, then set that to `Move`, like this:

[cod

[2018-12-12 12:38] bhlangonijr commented on #11
@HBiSoft I was not really sure of what you were trying to achieve. But if you just want to unmake one move you just call `Move move = board.undoMove();`. It'll retrieve the last move made and undo it.

[2019-01-08 16:05] alexzh2 opened #12 "Queen was able to jump over a pawn"
Found a bug, the Queen was able to jump over a pawn
Board board = new Board();
Move mv = new Move(Square.D1, Square.D3);
boolean res = board.doMove(mv, true); // return true

[2019-01-08 17:32] alexzh2 commented on #12
Board board = new Board();
        Move mv = new Move(Square.D1, Square.D3);
        boolean res = board.doMove(mv, true); // return true

[2019-01-08 18:06] #12 closed

[2019-01-08 22:00] bhlangonijr commented on #12
Hi @alexzh2,
It may sound a bit counter-intuitive but the API is actually behaving as expected. `Board#isLegalMove()` is only checking if that move is not gonna leave the current chess `Board` in an illegal state after the move is played. You could, for example, design a chess UI where you can drag and drop chess pieces for setting up an arbitrary chess position where you are free to shuffle aroun

[2019-01-17 12:57] rulogarcillan opened #13 "offer draw"
There is some method to mark a game as abandoned or offer draw?, I can not find the way to mark a game and get your PGN when a player leaves or pacts draw game.

For example, if I read a PGN from a game that has been tied, the isDraw method returns false.

1. e4 1/2-1/2

Thanks

[2019-01-17 13:18] #13 closed

[2019-01-17 13:19] rulogarcillan commented on #13
Closed, work fine with game not board

[2019-03-09 21:26] vixen opened #17 "Site tag in Game"
One suggestion :
* Probably **"Site"** tag should be available in Game also

Reason lichess.org site puts specific game id in site tag in their pgn

Example

`[Site "https://lichess.org/<gameid>"]`

While u parse the pgn the only way to get site is via PGN's event map
and it only has site for last game of that event and there is now way we can get specific game id

[2019-03-11 17:59] bhlangonijr commented on #17
Hello @vixen,

According to PGN [spec](https://www.chessclub.com/help/PGN-spec)  `Site` is the location of the event. It seems a bit odd they use this field for storing the game id. Ideally they would make use of a custom field. Are there any other tools or websites using this tag for the same purpose? I mean I can sacrifice the spec for enabling a "de facto" interpretation of this tag.

[2019-03-12 06:23] vixen commented on #17
Thanks for your reply
Your project is awesome
May be these events/games are online so location/site is an online url only

In case of human events also sometimes different rounds happen  at different locations.
If I remember correctly once(may be more) for Linares first round happened at Moralia(Mexico) and second round at Linares (Spain).
Anway this is an exception rather than a norm
So feel free

[2019-03-12 10:55] bhlangonijr commented on #17
I'll go ahead and take your suggestion. The change should be available in the next release.

[2019-05-06 22:03] Spriithy opened #18 "MoveGenerator for a specific piece"
Hi, is it possible to this to generate all valid moves for a given piece ? I've only found general purpose move generations in class MoveGenerator.
Thanks

[2019-05-08 15:29] bhlangonijr commented on #18
Hello, yes indeed in MoveGenerator itself.
Ex.: `MoveGenerator.generateBishopMoves(board, moves);`
or `MoveGenerator.generatePawnMoves(board, moves);`
and `MoveGenerator.generatePawnCaptures(board, moves);`

but remember these are pseudo-legal moves and need to be checked for legality.

[2019-06-05 13:31] #18 closed

[2020-01-17 21:19] wolfraam opened #20 "Support for LAN notation"
It would be great if MoveList would also have a toLan() method, which would return the moves in the long algebraic notation.

[2020-01-20 13:54] bhlangonijr commented on #20
@wolfraam sure, I should add this method as an alias for `toString()`.

[2020-04-09 16:43] ghost opened #21 "BUILD FAILURE directly after cloning due to PgnHolderTest test errors"
I'm unable to build the project directly after cloning it because of some PgnHolder related unit tests.
[code]
Outputs:
[code]

[2020-04-10 12:20] riadhe commented on #21
A quick note to say that these failed test units happen only when trying to compile the project.
There's no issue when you run them directly from the test class (PgnHolderTest).

[2020-05-16 11:19] emiljanQ3 commented on #18
Hi!

I'm looking for the same functionality, or at least something similar. The methods generateBishopMoves for example does not generate the moves for a specific bishop but for both bishops at the same time if I'm interpreting your code correctly. While this part of the code seems to be what generates moves for a specific bishop, a specific source:
`                List<Square> target = Bitboard.

[2020-05-16 16:08] bhlangonijr commented on #18
Hey there,
As a temporary solution you could duplicate the method and add a bitboard mask parameter where you can specify the pieces you want to generate the moves for:
[code]
you can specify the bishop on any square like:
[code]

[2020-06-30 15:10] bhlangonijr commented on #21
I can't reproduce it um my local env. If anyone reading this ticket is able to reproduce it I'd appreciate (the user who filed this ticket has been deleted).

[2020-07-05 15:46] bhlangonijr commented on #6
Fixed

[2020-07-05 15:46] #6 closed

[2020-07-05 15:50] bhlangonijr commented on #21
Can't reproduce. Should be environment specific. Will close this for now as we don't have more details.

[2020-07-05 15:50] #21 closed

[2020-08-19 18:05] edugarciagt opened #25 "PgnLoaderTest fix"
Found there where some problems when runing PgnLoaderTest.  I manage to fix it by changing a little the way function parse the line as follows.

Keep checking other errors.  I hope this helps.

Interesting I found you put games by round, I don't see the reason.  Better aproach would be using a simple List and put games there, then in order to find similar games using Lambda stream functions to fil

[2020-08-23 23:00] edugarciagt commented on #25
Hi, you are right, performance is better with Iterators.  Let me put in order those changes I made to create a PR this week.  By the way, I also added capacity to read clock time, move and position valuations by engine, and would like to put them in different PR so not having a mess with changes.

As I put changes, will make some suggestions regarding use of static methods when performing parsing

[2020-08-26 00:05] EmmanuelMess opened #26 "Add more info to Move"
Add:
* did it eat something?
  * was it en passant
* did it castle?
* did it promote?

[2020-08-28 02:46] safield opened #27 "Add ability to load a game from a single string in PGN format."
Currently you can only load pgn format from a file. It is also a valid scenario to have a single pgn string that represents a single match.

[2020-09-01 22:39] bhlangonijr commented on #26
Hello @EmmanuelMess,

You can use the method `Move#getPromotion()` in order to check if that move lead to a promotion in case it is not of type `Piece.NONE`. You could also check for under promotions as the `promotion` field is of type `Piece`.

Unlike the promotion case - which I think it's important to specify the promotion piece in the `Move` object itself - the other state information are not

[2020-09-01 23:14] #26 closed

[2020-09-02 01:59] #27 closed

[2020-09-02 02:10] bhlangonijr commented on #27
Example in the unit test:

[code]

[2020-09-02 21:49] safield commented on #27
Thanks!

[2020-09-04 02:31] safield commented on #27
This did not work for me. The following example resulted in a Game with a null board.

[code]

To give you some background what I am trying to do...

I have just the moves as listed in pgn format in a string  (none of the other header data , maybe I will just stuff in generic header data), and I want to determine...

-who's move it is
-the current state of the board
-all the valid next moves

So u

[2020-09-04 15:48] bhlangonijr commented on #27
ah okay. `PgnHolder` was initially intended as a container for completed games. You want to user the `MoveList` for that:

[code]

you can also build the `MoveList` assuming a initial FEN position (you don't know the previous moves), like:

[code]
Instantiate a new `Board` object and replay the moves there:
[code]

Hope this helps. Let me know how it goes.
Regards,

[2020-09-04 19:14] safield commented on #27
Thanks for the info!

PGN format is intended to store in progress games as well. This is a valid use case. Could this be supported eventually?

The dart client side library I use returns pgn format move lists of format "1. d4 d5 2. Qd3 c5 3. e4". Can I recreate a board using this pgn format? Are pgn move lists the same as san but with numbers?

[2020-09-04 20:50] bhlangonijr commented on #27
Yes @safield it should load games in progress but you need ending the moves line with a *, like in:
[code]
PGN moves are in SAN format and using numbers for enumerating the chess moves.
The numbers in it are just for human readability, it's totally superfluous from a technical perspective and chesslib just ignores it when parsing the moves.
The unit tests in chesslib are using this PGN format with

[2020-09-04 23:16] safield commented on #27
Thanks for the further clarification. Does MoveList.loadFromSan() also ignore any superfluous numbering like "1."?

[2020-09-05 13:17] bhlangonijr commented on #27
Yes indeed. Pgn parser in chess lib uses de `MoveList` itself to parse the moves section of the PGN file. The method that gets the moves after loading the game is actually returning a `MoveList`: `Game#getHalfMoves()` (as you may know each `Move` in chess terminology a half-move, each number in the SAN is therefore denoting a "full" move).

[2020-09-16 17:27] LociStar opened #29 "perftTest - Exception"
I got an Exception from prft test with depth 5 from fen "8/1pp3p1/4pq1p/PP1bpk2/1Q2p3/4P1P1/2B2P2/6K1 b - - 2 33".

Code:
[code]

Output:
[code]

[Test Results — PerftTest.testPerft1.pdf](https://github.com/bhlangonijr/chesslib/files/5233844/Test.Results.PerftTest.testPerft1.pdf)

[2020-09-24 00:44] bhlangonijr commented on #29
Hello @LociStar ,
I found a bug in the method that checks for move legality. It was allowing en passant move which was leaving the black king in check:
```FEN 8/1pp3p1/4pq1p/PP1bp3/1Q2pPk1/4P1P1/2B5/6K1 b - f3 0 34```
was generating the move `e4f3` which lead to an invalid position and caused the exception.

Added tests for the perft reported and also for the invalid move generation: https://githu

[2020-09-24 16:10] bhlangonijr commented on #29
I am closing it, tag 1.1.22 fixes de issue.

[2020-09-24 16:10] #29 closed

[2020-10-29 14:27] #25 closed

[2020-10-29 19:59] dlbbld opened #32 "King castle moves like e1g1 by rook or queen flagged as castle move"
Hi

First thanks for this cool API.

When performing the move e1g1 by a rook or queen the move is interpreted as castle move. That is board.getContext().isCastleMove(move) is true. Which I think should not be the case. If intended it is misleading, as not being a castle move.

But then, as a consequence, in the MoveBackup the rook castle move is set, which is wrong, as this should only be set for

[2020-10-29 20:05] dlbbld opened #33 "KBvKB with bishops on different color squares treated as insufficient material"
KBvKB positions with bishops on different color squares are not insufficient material positions as well known, as a mate is still possible.

But when I tried, I found this to be treated as insufficient material. Can you please check?

[code]
The output is as below, with latest version 1.1.22, which is not as expected

[code]

[2020-11-01 11:11] dlbbld opened #34 "MoveBackup sets moving piece for promotion move not as pawn"
For a promotion move the moving piece is set as the promoted piece in the MoveBackup. This is used as such in the code. If that must be so, I suggest using another name instead of "moving piece". The moving piece for a promotion move is a pawn, so setting the moving piece to the promoted piece is semantically wrong for my understanding. I ran into a small bug for expecting this. Example:

[code]
T

[2020-11-03 02:59] bhlangonijr commented on #33
Hello @dlbbld ,
The FEN you have provided is indeed a dead draw: You have ONE bishop left on each side. You need these two bishops on same side not to be insufficient material.

I've added this test:
[code]

[2020-11-03 03:16] bhlangonijr commented on #34
Hello @dlbbld ,
Yes I agree with you the name may lead to some confusion. The reason for it being like that is to make move undoing (`MoveBackup#restore`) consistent with other non promotion moves handling: This field is used for unsetting the moved piece when undoing the move. I'll fix this in the next release.

[2020-11-03 03:35] #32 closed

[2020-11-03 03:35] #34 closed

[2020-11-03 03:39] bhlangonijr commented on #34
Fixed in version 1.1.23

[2020-11-03 03:39] bhlangonijr commented on #32
Fixed in version 1.1.23

[2020-11-03 19:28] dlbbld commented on #34
Thanks, looks fine.

[2020-11-03 19:30] dlbbld commented on #32
Thanks, looks fine now. I have a question related to castling for GameContext, I'll add it to a new issue.

[2020-11-03 19:49] dlbbld commented on #33
Hi Carlos

KBvKB falls under the insufficient material rule for bishops on same colour squares, but not for bishops on different colour squares. In this case, a mate is still possible (with the dear support of the opponent). One side can move his king to a corner with the same colour square as the opponent bishop, let his bishop block on own side, the opponent king on the other side so that the op

[2020-11-03 20:00] dlbbld opened #36 "isCastleMove on GameContext is true for any moves like e1g1"
When making any of the castling king or rook moves with any piece (e.g. Qe1g1), isCastleMove on GameContext is true. It does not trigger any problems in the code but is confusing when using the method. I expect it to be only true for castling.

[code]
The output is as below, with latest version 1.1.23, which I think is a bit confusing:

[code]

[2020-11-04 00:01] bhlangonijr commented on #36
HI @dlbbld,
`GameContext` doesn't have any information about the chessboard state and pieces locations. It's meant to be a helper class for verifying castling move in a uniform way depending on the chess variant loaded (currently it does only support normal chess). In a particular variant, Individual castling moves for king and rooks are not only used for classifying the type of the move but also

[2020-11-04 11:56] dlbbld commented on #36
Hi Carlos
Yes, I understand, so this is implementation specific. `MoveBackup.getCastleMove()` flags if the move was a castling move, that is enough for me.

[2020-11-04 13:10] bhlangonijr commented on #36
In `MoveBackup` you can verify if move played is en passant, promotion or castling but not very intuitively. These flags are dependent on the chessboard state and the `Move` played so it'd nice to come up with something more concise and intuitive indeed. If you have some suggestion you can open a new ticket. I'll close this ticket for now.

[2020-11-04 13:11] #36 closed

[2020-11-04 13:19] bhlangonijr commented on #33
Oh well that's true: https://syzygy-tables.info/?fen=8/8/8/8/8/8/b7/k1K1B3_w_-_-_0_1. There's a rule in place which flags insufficient material if both sides has <= 1 minor piece. I will fix that in next release. Thank you.

[2020-11-04 23:15] dlbbld commented on #36
Yes, right, it took me some time to figure out that most information about the last move is in the MoveBackup. Also the captured piece if any and the moving piece. I think this is fine for now.

[2020-11-04 23:37] dlbbld opened #37 "SAN for Moves"
I find it a big problem that when I create a new move as below, I cannot find the SAN for the move:

[code]
For example `pawnMove.getSan()` above is `null`. This attribute is only set, if a game was loaded from a PGN. But I find it essential to have the SAN for a move constructed as above. Is it anywhere? `MoveList` offers some methods for SAN generation, but I could not look through.

Also is the

[2020-11-05 03:39] bhlangonijr commented on #37
`Move#getSan()` and `Move#setSan()` function as a sort of caching when used together with the `MoveList` - after calculating the SAN. This field is not really helpful if used without the `MoveList`. Ideally it should not be visible in the aforementioned use case - yes, it's misleading having it visible when it doesn't do what it appears to do. SAN is a particular notation that is dependent on cont

[2020-11-05 19:45] dlbbld commented on #37
Thanks for the examples. I got a rather "scary" result below. Can you please check. I can specify an illegal SAN and there is no exception. Then Black executes an impossible pawn non capturing move e6d5.

[code]

[2020-11-05 20:48] dlbbld opened #38 "SAN generation incorrect when pinned pieces involved"
In the below example, the SAN generated for the last move is incorrect. It should be Ne2 and not Nge2 because the knight on c3 is pinned and cannot move to e2. By the SAN specification, the file is specified when needed for disambiguation, otherwise not. Please see the specification below.

Generating Nge2 instead of Ne2 seems like a small problem because also Nge2 allows identifying the move. The

[2020-11-05 21:22] dlbbld opened #39 "A threefold repetition not detected"
The threefold repetition after 5... Bf8 for the below moves is not detected. Why is that the case? Can you please check? The positions, possibilities to capture en passant and castle rights after 1... e5, 3... Bf8 and 5... Bf8 are the same. This is a threefold repetition after 5... Bf8.

[code]

[2020-11-06 02:36] bhlangonijr commented on #37
Hey @dlbbld ,

This is expected behaviour: The `Board`, `Move` and `MoveList` don't enforce legal moves to be played. You can play any moves as you wish using a sort of free style chessboard set. This is useful, for example, when you are building a chess GUI which has an Edit feature where the user can drag and drop pieces around and setup an arbitrary position. The `fullValidation` argument is on

[2020-11-06 18:56] kindex opened #40 "Board.equals bug"
Code
[code]
returns wrong result.
Operators || should be replaced with &&

[2020-11-06 20:27] dlbbld commented on #37
I get the idea. Thanks for the explanation.

[2020-11-06 21:06] dlbbld commented on #39
There must be something wrong here. Probably only a small problem in the code, I can't see through, but there is something off.

In the first example, both players lose all castling rights by moving their kings. So the position after 5... Ke8 and the initial position are not the same. The position after 7... N8 is the same as after 5... Ke8, so this is a twofold repetition, but flagged as threefol

[2020-11-06 22:03] bhlangonijr commented on #40
Yes, thank you for pointing that out. This has passed unnoticed as this method is hardly if ever used (at least by myself). The fix should go in the next release.

[2020-11-06 22:25] bhlangonijr commented on #39
Hi @dlbbld , thanks for pointing that out. This is a bug in the zobrist incremental hash calculation which I've fixed. It should go in the next release.

[2020-11-06 23:33] dlbbld commented on #39
Hi Carlos
Cool, thanks for checking this. Daniel

[2020-11-06 23:56] dlbbld commented on #40
For me, two boards are only the same if they behave the same in the future. To have the same behaviour for determination of threefold repetition and fifty-move rule, you need to include the `history` list in the comparison additionally. What do you think about this suggestion?

[2020-11-07 00:59] bhlangonijr commented on #40
Hi @dlbbld Daniel, yes and no: We should take into consideration the fifty-move rule; but Board#history is a different story: It's storing the all the unique hash ids for the intermediate positions leading to the current state. Due to the effect of transposition you may reach the same chess position by playing different moves. We should take into account the fifty-move counter when comparing Board

[2020-11-07 01:29] bhlangonijr commented on #39
Hey @dlbbld Daniel, an interesting situation arose after fixing it. The example you shared `1. e4 e5 2. Be2 Be7 3. Bf1 Bf8 4. Bd3 Bd6 5. Bf1 Bf8` is still not flagged as threefold repetition even after the fix. The reason is by moving king's pawn in the opening creates intermediate positions that are not counted as repetitions because these enabled en passant on `e6` and `e3`. These positions are

[2020-11-07 03:38] #33 closed

[2020-11-07 03:38] #40 closed

[2020-11-07 03:38] bhlangonijr commented on #39
Fixed in 1.1.24

[2020-11-07 03:46] bhlangonijr commented on #40
Fixed in 1.1.24

[2020-11-07 07:41] dlbbld opened #41 "Some methods for game end still missing"
There are a few game end relevant methods not yet implemented. I suggest adding them to improve the API further.

The methods are mentioned below, taken from the [python chess API](https://readthedocs.org/projects/python-chess/downloads/pdf/stable/):

has_insufficient_material(color: chess.Color)

is_seventyfive_moves()
is_fivefold_repetition()

can_claim_draw()
can_claim_fifty_moves()
can_claim_t

[2020-11-07 08:32] dlbbld commented on #40
In that respect I suggest comparing the history as a list, that is the same size, same order, same unique hash. That is equivalent (I guess so) to same starting position and same moves played.

[2020-11-07 09:37] dlbbld commented on #39
The FEN only indicates two square pawn advance, but the repetition rule requires to check if en passant capture is possible or not.

There are also situations for a two square pawn advance where an opponent pawn is on the same rank, but cannot capture due to own king already being in check or capturing would expose own king to check.

In these situations, en passant capture is not possible. So the

[2020-11-07 12:11] bhlangonijr commented on #41
Aren't these 3 methods:
[code]
equivalent to:
[code]
Aren't these equivalent?

PS: chesslib also has `isStaleMate()`

[2020-11-07 17:06] dlbbld commented on #41
No, `can_claim_fifty_moves()` for the player having the move means the following: Either with the last halfmove of the opponent 100 or more consecutive half moves without capture or pawn advance have already happened. Or there are 99 such halfmoves, and the player itself has a legal move, which will result in 100 such halfmoves. Such a continuation is of course not always possible, e.g. the player

[2020-11-07 17:27] bhlangonijr commented on #41
Gotcha. I will have a crack at these for the next releases.

[2020-11-07 19:56] dlbbld commented on #41
It looks a lot at first glance but is not. The required logic is already there, so `is_seventyfive_moves()`
and `is_fivefold_repetition() ` are one-liners. `can_claim_fifty_moves()` and `can_claim_threefold_repetition()` require a loop over the legal moves, using the existing halfmove clock and repetition, so do not require more than a few lines.

[2020-11-07 20:48] dlbbld commented on #38
Is there any feedback here? This looks unimportant first, but implementing the specification correctly here is of utmost importance.

[2020-11-08 01:42] bhlangonijr commented on #39
Fixed in 1.1.25

[2020-11-08 11:40] dlbbld commented on #39
You overlooked that in the example with "losing castling rights" the expected result is false (no repetition). By the way you have added this test two times, as `testThreefoldRepetition1()` and `testThreefoldRepetition4()`. The castling rights in the different occurrences of the position changed, from full castling rights to no castling rights, so at the end there is only a twofold repetition.

Th

[2020-11-08 12:22] dlbbld commented on #40
In my opinions two boards which are equal using `board.equals()` must behave the same. With the current implementation of equal this is not the case, for example one board can indicate threefold repetition, the other not, as the initial position and move history are not compared. For the sake of an example see below. I suggest to reevaluate this.

[code]

[2020-11-08 13:51] bhlangonijr commented on #41
yes I understand the difference now. I am gonna add these.

[2020-11-08 13:54] bhlangonijr commented on #39
Reopening the issue until this is solved in a later release.

[2020-11-08 21:35] dlbbld opened #42 "Improvement for insufficient material"
Just a suggestion to improve the insufficient material check. KBvKB with same coloured bishops is insufficient material, that is checked. But King versus King with any number of same coloured bishops on the board is also insufficient material, that could also be checked. I've seen that in the python chess API.

https://syzygy-tables.info/?fen=B3k3/8/8/8/8/8/8/4KB2_w_-_-_0_1
[code]

https://syzygy-

[2020-11-09 01:04] bhlangonijr commented on #38
Hi @dlbbld, I am fixing this one too. I'll update this ticket when released.

[2020-11-09 14:42] bhlangonijr commented on #40
@dlbbld would you open another ticket for your suggestion so we can keep track of that? This specific one is reporting a clear bug on the board `equals` method. You are suggesting something differently: include board history when comparing two boards.

[2020-11-09 19:38] bhlangonijr commented on #39
Hello @dlbbld ,

In this particular example the castle rights never changed and the same position repeated for 3 times, hence triggering the threefold repetition flag. Did I miss something?
[code]
result:
[code]

[2020-11-09 19:43] bhlangonijr commented on #39
I see it, in the later case you are talking about en passant not castling. I am fixing this one.

[2020-11-09 23:58] dlbbld commented on #39
Yes right, the example above is about en passant. As you already spotted, the repetition count does not go up to three. For despite having the same visual positions, in the initial position en capture is possible, later not, so the initial position does not go into repetition count.

[2020-11-10 20:32] dlbbld commented on #38
Thanks for the feedback. It goes a bit hand in hand I think. As long the feedbacks are considered it is worth making them. Besides, I think the API is very stable and fine.

[2020-11-12 03:35] #38 closed

[2020-11-12 13:04] bhlangonijr commented on #38
The expected behaviour now is the follow: Chesslib is generating the SAN moves with correct notation, although not too strict when taking the SAN move with `addSanMove`: It'll will accept `Nge2` because this is a legal move, but when generating its string representation back the correct notation without the ambiguity resolution is shown: `Ne2`.

[2020-11-12 23:13] dlbbld opened #44 "Include board history when comparing two boards"
I suggest to include the board history, that is the initial position and move history in the board comparison. The reason for is that two equal boards (by the equals method) should behave the same for all the same future moves. E.g. the fifty-move rule and the threefold repetition rule look at the board history. E.g. now for two equal boards one can later flag a position as threefold repetition, t

[2020-11-13 00:05] dlbbld commented on #39
The above test case still does not work:

[code]

1. e4 e5
we call it visual position A, so we have:
visual position A, both full castling rights, no possibility to capture en passant (first occurrence)
2. Nf3 Nf6
3. Ng1 Ng8
visual position A, both full castling rights, no possibility to capture en passant (second occurrence)
4. Ke2 Ke7
5. Ke1 Ke8
visual position A, both no castling rights, no pos

[2020-11-13 00:26] dlbbld commented on #39
Besides the problem with castling mentioned above, there is also still a problem with en passant. In the [real game](https://www.chessgames.com/perl/chessgame?gid=1030420) below, the API flags the position after 51... Kd6 as threefold. Flagging this as threefold is wrong, because in the initial position after 47... f5 en passant capture is possible, so this does not count towards repetition. 51...

[2020-11-13 20:29] dlbbld commented on #39
Can you please check and reopen this issue? The issue is about game termination and so of course, critical. It is not so easy to get these things right; this not only concerns your API. I found a [bug](https://github.com/niklasf/python-chess/issues/634) (fixed) in python-chess regarding insufficient material. Then another [bug](https://github.com/ornicar/lila/issues/7009) (fixed) in Lichess and [o

[2020-11-14 22:56] dlbbld commented on #38
I spot checked the SAN generation and looks fine, thanks. `addSanMove` is specified as taking a SAN move and performing it. `Nge2` is not a SAN move and allowing it is wrong, full stop. I suggest to add a method like `addSanMoveNonStrict` or whatever if you want to support non SAN moves as well.

[2020-11-14 23:09] dlbbld opened #45 "Support for SAN for Board"
When using `MoveList` one can use SAN like "e4" to specify moves, that is fine:

[code]
But when using the `Board`, I don't see an option to specify moves using SAN. I can only specify moves using a notation like `board.doMove(new Move("b1c3", Side.WHITE))` (attention this is not LAN notation, which would be `Nb1c3`). Using SAN `board.doMove(new Move("Nc3", Side.WHITE));` throws an exception. It w

[2020-11-15 16:17] dlbbld opened #46 "Performance for loading very long games"
When loading a [PGN](https://www.chessgames.com/perl/chessgame?gid=1268705) with 250 moves, this takes a second. However, when loading a [PGN](http://tom7.org/chess/longest.pgn) with 9'000 moves, this goes off. The time it takes more is not in proportion to the additional moves and is much too long. Please see the attached PGN (I adapted the second for import).

Of course a game with 9'000 moves i

[2020-11-16 12:57] dlbbld commented on #46
Is there some feedback here? I try some simple math: The second games has around 30 times more moves than the first. But to load, it takes over 200 times longer. I am sure there is only some small problem here and this can be much improved.

[2020-11-16 12:59] dlbbld commented on #45
Any feedback here? Something like board.doMove("Nc3") would be very handy.

[2020-11-16 13:05] bhlangonijr commented on #39
Would you test again? Fixed in version 1.2.1.

[2020-11-16 13:06] #37 closed

[2020-11-16 13:08] bhlangonijr commented on #45
This is something easy to add I believe a good suggestion. I will add that in the next release.

[2020-11-16 17:51] dlbbld commented on #45
Great, thanks. For coming back to the standard example with the pinned knight (#38) please think of not allowing the invalid SAN:

[code]
You are not giving the user anything by allowing it, on the contrary. The user only specifies Nge2 in the following cases:
- he overlooks that the knight on c3 is pinned
- he thinks that specifying illegal moves in the SAN is possible (so additionally the from f

[2020-11-17 13:34] dlbbld commented on #39
My pleasure... I found the repetition checks now all ok. However, I find it dubious using a hash for the position (Zobrist), so as I understand on the extreme two different positions can evaluate as the same. How do you deal with this?

[2020-11-17 14:19] bhlangonijr commented on #39
I think you are talking about hash collisions - which will give the same key for two different positions - but these occur very rarely, especially for such use case where you incrementally update the key based on the move and flag changes. Besides, using zobrist is cost-effective: There are several use cases where you have to check for repetition millions of times as when you are traversing a game

[2020-11-17 14:21] dlbbld opened #47 "San generation for castling checkmate move"
You are overlooking that castle can cause check or checkmate. The SAN for the move O-O-O# is wrongly generated as O-O-O.

[code]

From famous [game](https://www.chessgames.com/perl/chessgame?gid=1259009) where last move was 18. Kd2# but could have been 18. O-O-O#.

[2020-11-17 14:37] dlbbld commented on #39
But that would be low occurrence versus high impact. I don't think this is done in this way. For position evaluation, yes. But not for determining the game result upon a player move. That is allowing draw for threefold or auto drawing for fivefold (this is a must draw since 2014). Even when the chance is very low, the last a chess software wants to do is falsify the output of a game.

[2020-11-17 15:23] bhlangonijr commented on #46
I found the issue, will be fixed in the next released.

[2020-11-17 16:32] bhlangonijr commented on #39
When a chess engine is traversing the game tree EVERY node (chessboard state) is checked for repetitions so the search over a specific subtree can return earlier with a draw score, in case it is detected. I fail to see the difference between "position evaluation" and "determine the game result upon a player move", as the player move will result on some position to be evaluated after all - position

[2020-11-17 22:36] dlbbld commented on #46
I expect it even to be the other way round - the performance per move to improve with larger files. File stream is high-speed, and file handling overhead counts less in proportion with more moves.

[2020-11-18 00:07] dlbbld opened #48 "Board claims threefold where not the case (for position hashing)"
The board claims a threefold at the end of the game, but this is only a twofold repetition. The reason is the position hashing, which treats different positions here as the same.

[code]

[test.pgn.txt](https://github.com/bhlangonijr/chesslib/files/5556909/test.pgn.txt)

[2020-11-18 00:29] dlbbld commented on #39
To cut a long story short I made an example (#48) where the board calls a threefold (which is only a twofold) after 341 moves. So this is a collision, and after 341 moves already this is not rare.

The distinction between the moves evaluated and moves performed is fundamental. If this problem occurs during move evaluation, it will result in most possibly not finding the "best" move, as you say. If

[2020-11-18 13:31] dlbbld commented on #39
Stockfish is using a position hash, but Stockfish is an engine. The engine is queried for moves and should not decide about the game outcome. The software performing the moves must decide about the game outcome. That is again, my opinion stated before. For example, python-chess is not using position hashing. Python-chess is a chess API, not a chess engine, confirming the before mentioned.

There a

[2020-11-18 13:48] dlbbld commented on #48
Here the example shortened to 40 moves, showing that it is not necessary to make 341 moves to trigger the problem. 40 moves can already be enough.  [test_shortened.pgn.txt](https://github.com/bhlangonijr/chesslib/files/5560331/test_shortened.pgn.txt)

[2020-11-18 14:14] bhlangonijr commented on #48
I will have a look. Thank you.

[2020-11-18 14:34] bhlangonijr commented on #39
Hi @dlbbld,  firstly thank you for all the good feedbacks and suggestions.
chesslib is a chess API, indeed. But you can potentially build a chess engine on top of it e.g.: https://github.com/bhlangonijr/kengine.
I get your point about the reliability of determining the game result, but we have two problems here:
1) By replacing the method `isRepetition` using some reliable non-hashed solution can

[2020-11-18 23:06] dlbbld commented on #39
Your considerations are necessary if you widen the scope. My scope is more limited in that respect: I expect from the API to behave only as a board, but a board with 100% accuracy.

We are sure that #48 is related to hashing. Two visually different positions get the same hash.

[2020-11-19 02:27] bhlangonijr commented on #46
Fixed in version 1.2.2

[2020-11-19 02:27] #46 closed

[2020-11-19 02:27] bhlangonijr commented on #47
Fixed in version 1.2.2

[2020-11-19 02:28] #47 closed

[2020-11-19 02:29] bhlangonijr commented on #48
Can you check this one with version 1.2.2? There was an issue in the hash key generation (it was actually using same key for different piece-square table).

[2020-11-19 08:25] dlbbld commented on #48
I will have a look. I'm a mathematician and familiar with the concept of hash functions. It is something sophisticated to check position repetition and as encountered here, quickly leads to bugs. How can it be checked that:
- the implementation of the hash function is now correct, and
- the key length is chosen such that the chance of different positions get the same hash is as "rare" as it should

[2020-11-19 13:36] dlbbld commented on #48
I cannot build 1.2. The tests do not pass. Can you please check and come back on the below message?

[code]

[2020-11-19 13:58] bhlangonijr commented on #48
This is what I get when running the tests:
[code]
Can you make sure there are no local changes? e.g. git reset --hard

[2020-11-19 14:56] dlbbld opened #50 "Issues with test cases in UTF-8"
In the test/resources folder there are exactly two PGN stored as UTF-8, "Morphy_UTF8.pgn" and "redqueen.pgn". I found that the corresponding test cases `PgnHolderTest.testPGNLoad4` and `PgnHolderTest.testUtf8` sometimes work and sometimes not. Encoding related, this problem is probably not caused by the project. I found that when running the JUnit tests on the project, it sometimes worked, sometim

[2020-11-19 15:43] dlbbld commented on #47
This looks ok.

[2020-11-19 16:06] dlbbld commented on #46
The performance is right now. But as it happens right in this game, there is a problem with repetition detection. This problem is not due to the performance improvement, which should be fine, but due to #39 still not being fixed and throwing new errors. I'll mention it there.

[2020-11-19 16:20] dlbbld commented on #38
Can you please recheck. It generates "Ne2 " not "Ne2":

[code]

[2020-11-19 16:38] dlbbld commented on #48
It's a file encoding problem, I had that before (see #50). I uncommented the two mentioned test cases, then it works fine.

The above test works, but now other tests do not work anymore. I have tested the position hashing several times now, and it costs a lot of time. For me, a simple position check would do. As such, please implement the simple position check for testing, so that during testing,

[2020-11-19 20:04] bhlangonijr commented on #48
Ok, I will add the method to facilitate the testing. Would you share which tests are no longer working?

[2020-11-20 08:48] dlbbld commented on #48
The two tests above before worked. There are two other PGN's which also have been ok before and do not work anymore, but I think that is the same problem.

For your testing, I added two other PGN's which might find problems early. If correct, the repetition count throughout all moves is one, no position repeats. Your API however currently flags repetitions.

[no_repetition_1.pgn.txt](https://githu

[2020-11-24 20:55] dlbbld commented on #48
How is that going? As I said I meant this just for testing, this must not be in the public API. How you do this is, of course, your decision. But the hash is not working as is, that seems a challenging piece, I found other similar problems in the meantime.

[2020-11-24 21:01] dlbbld opened #52 "Add more checks for FEN validity when reading FEN"
I suggest to add more tests when reading the FEN. At the very least you should not allow a position where the opponent king of the player having the move is in check! I think as such you could improve the API further. Please see examples below, I hope you get the idea:

[code]

[2020-11-24 21:09] dlbbld commented on #50
Is there some feedback on this? I don't actually know the reason why UTF-8 must be supported. The PGN specification says otherwise:

I can think of some reason when using comments in different languages by today, but I don't know an example. Can you specify a use case which requires UTF-8 support? For this not being able to build the project (sometimes) is a bit clumsy to work around. A bit attent

[2020-11-24 21:13] bhlangonijr commented on #48
Hi @dlbbld ,
There's a newer version out: 1.2.3
I am still working on the testing alternative APIs though. I should release it over the weekend.

[2020-11-24 21:30] dlbbld commented on #48
Thanks for the feedback. The above test case nikolic_arsovic_1989.pgn.txt is still failing, but as you mentioned in progress. I'll check.

[2020-11-25 11:50] dlbbld commented on #52
Is there any check on this? When I supply an incorrect FEN, I prefer the system to complain, instead of doing something unexpected.

For example, when I mistype the side field, the system assumes that Black has the move. It would be much better to throw an exception, informing that the FEN is wrong. For example:

[code]

[2020-12-01 17:43] dlbbld opened #53 "Cannot load PGN using starting position"
When loading a PGN which uses a starting position, there is an exception, e.g.

[code]

[2020-12-03 01:52] #53 closed

[2020-12-03 01:53] bhlangonijr commented on #53
Fixed in 1.2.4

[2020-12-03 01:58] bhlangonijr commented on #52
I am looking into this one. Will fix in the next release.

[2020-12-03 02:06] bhlangonijr commented on #48
Hi @dlbbld ,
It looks we have a solid hashing function now. We are using a 64 bits long as the hash key instead of the previous short one.
I have added a method `Board#getPositionId()` which should give you a reliable string id for every unique board setup. This is basically the FEN notation except we only add the en passant square if it allows the passed pawn capture.
There's a test named `PgnHol

[2020-12-03 02:07] #48 closed

[2020-12-03 02:08] bhlangonijr commented on #44
Added `Board#strictEquals()` method in version 1.2.4 which will also compare board history.
equals remains the same, ignoring the history - there are use cases where we want to ignore the history when comparing.

[2020-12-03 02:08] #44 closed

[2020-12-03 02:09] bhlangonijr commented on #39
@dlbbld all tests passing now, version 1.2.4

would you have a look?

Thank you

[2020-12-03 02:09] #39 closed

[2020-12-03 17:55] dlbbld commented on #48
Thanks, I'll try to find my way through and report anything I found.

[2020-12-03 21:19] dlbbld commented on #53
I checked a few examples and they worked as expected.

[2020-12-03 22:54] dlbbld commented on #48
I run the examples and for them no hash collision occurred. `Board#getPositionId()` is ok and `PgnHolderTest#testBoardHashKeyConsistency()` looks very reasonable to me. I run one large file and no hash collision was indicated. So for what I can say it looks ok.

[2020-12-04 00:01] dlbbld commented on #48
I am not sure after second thought if my test results are correct. Particularly I am fighting with `Board.isRepetition(int)`, I need a repetition count for testing. Can you think of providing a method for the repetition count in the future?

[2020-12-04 11:49] bhlangonijr commented on #48
How does the work? A method that takes a move list and count the number of repetitions for each position?

[2020-12-04 17:14] dlbbld commented on #48
Just the number of repetitions arising after the last move. The required code can be extracted from `Board.isRepetition(int)`. As the code is optimized, this is a bit tricky now. So a method giving the actual repetition count, so three if there is a threefold repetition. Such a method allows checking for "twofolds" as well, which increases test coverage enormously.

[2020-12-05 10:34] dlbbld opened #55 "Threefold detection not working anymore after undoing move (again position hash)"
In a nutshell, the position hash changes after undoing a move, which is the gravest error as from this point onwards the board cannot make proper decisions on threefolds anymore. It can overlook threefolds, possibly, this I would need to check further but has not much use, it can call wrong threefolds. This goes along testing #48.

I tested about five consecutive builds, all having problems with t

[2020-12-05 10:40] dlbbld commented on #48
I have found another bug which made my test results completely useless, for it can result in wrong positives, it can falsify the tests.

This bug #55 passes all your tests; please check how that is possible. This must be catched.

I was performing all the legal moves to check if there is a threefold repetition, see `can_claim_threefold_repetition()` in #41. But then suddenly repetition results bec

[2020-12-05 13:55] bhlangonijr commented on #55
Thank you for chasing this one @dlbbld . I will get it fixed ASAP.

[2020-12-07 01:29] #55 closed

[2020-12-07 01:29] #42 closed

[2020-12-07 01:32] bhlangonijr commented on #55
Fixed in 1.2.5. The bug was introduce after increasing the hash key length.

[2020-12-10 15:29] dlbbld commented on #55
Thanks for looking at this. My tests only cover a small area and are chosen arbitrarily; these tests passed now.

[2020-12-10 15:33] dlbbld commented on #48
I ran a few tests on 1.2.5. and these few tests look ok.

[2020-12-20 20:54] safield commented on #45
I have the same requirement.

I have a very limited use case though.

Take a san movetext of formate ""1. e4 Nf6 2. e5 d5 3. Bc4 Nc6 4. Bf1 Nb8 5. Bc4 Nc6 6. Bf1 Nb8"", and determine if it is white or blacks move.

[2020-12-21 13:10] bhlangonijr commented on #45
hello @safield ,
you could just play the moves on the board and call `Board#getSideToMove()` at the end. e.g.:

[code]

or even:
[code]
should get:
[code]

[2021-02-09 18:46] omarpalacios opened #57 "Typo on readme perft()"
The line `List<Move> moves = board.legalModes();` should be: ... legalMo**v**es() I believe.

[2021-02-17 14:44] buzzm opened #58 "Add support for capturing structured data in comments"
e.g.     1.  e4 { [%clk 03:00] }

[2021-03-02 17:36] bhlangonijr commented on #57
thank you @omarpalacios

[2021-03-26 13:45] ZeroOne3010 commented on #57
I have opened PR #59 that fixes this and other issues with the readme.

[2021-04-02 16:46] SR-Lut3t1um commented on #45
Is there any Update on this?

[2021-04-04 12:55] bhlangonijr commented on #57
Fixed release 1.3.0

[2021-04-04 12:55] #57 closed

[2021-04-04 12:56] bhlangonijr commented on #45
Fixed release 1.3.0

[2021-04-04 12:56] #45 closed

[2021-04-04 12:57] bhlangonijr commented on #50
Can't reproduce so far....

[2021-04-11 20:02] liebig opened #61 "Custom PgnLoadListener.notifyProgress not invoked"
I have implemented the following Custom PgnLoadListener class:
[code]

And my main method looks like this:
[code]
Unfortunately, however, the CustomPgnLoadListener.notifyProgress method is never invoked. Am I doing something wrong?

[2021-04-12 18:44] liebig opened #63 "Feature - Count the number of games in a PGN file before loading it"
A function to count the number of games in a PGN file before loading would be interesting, as this would also allow a PgnLoadListener to calculate the exact percentage of games currently processed. I will create a pull request for this implementation.

[2021-04-12 19:11] liebig commented on #63
For the implementation I count all lines which start with the string "[Event " because the Event field is mandatory by [PGN definition](http://www.saremba.de/chessgml/standards/pgn/pgn-complete.htm#c8). This implementation is fast. Counting 121332 games took my PC 707ms while loading the PGN file took 18597ms.

[2021-04-15 21:04] dlbbld commented on #41
What is the status of these methods? Are you still planning to add them?

I want to emphasize that determining the draw on timeout requires the "has_insufficient_material(color: chess.Color" so this method has practical relevance, as the others. If player A runs out of time, but player B has insufficient material according to this method, meaning having no theoretical chance to checkmate, the game

[2021-04-16 15:03] liebig commented on #61
Can you please take a look at the pull request in a timely manner?

[2021-04-16 15:40] liebig opened #65 "GameIterator.hasNext and .next incorrect implementation"
The iterator implementations are unfortunately not correct and can lead to errors:
[code]

According to the Iterator interface, the functions should be implemented as follows:
![image](https://user-images.githubusercontent.com/3033740/115049105-a39d8280-9eda-11eb-8fb0-bb4c6a9830f1.png)

Therefore, hasNext should be callable any number of times without the iterator loading the next element. Only ne

[2021-04-16 15:55] liebig commented on #65
The same applies to the `LargeFile` class:

[code]

[2021-04-20 15:55] dlbbld opened #67 "Bug regarding insufficient material"
The method `Board.isInsufficientMaterial` returns true for KNvKN, KBvKN and KNvKB, but should return false (checkmate with cooperation of opponent always possible).

[code]

[2021-04-21 05:33] ZeroOne3010 commented on #67
I'm not affiliated with this project, but just found this issue anyway. It seems that different organizations have different rules on what is considered "insufficient material": https://support.chess.com/article/128-what-does-insufficient-mating-material-mean Namely, "_USCF rule specifies that the game is drawn because there is no **forced** mate_" but "_FIDE rule specifies that the game is drawn

[2021-04-23 21:05] dlbbld commented on #67
This topic is very involved. To start with, the article you quote is incorrect. The FIDE and USCF rules are the same for the situation here. They are different when timeout is involved. This method is about the first situation. For the second situation (see also #41), the side as an argument would have to be supplied.

Without any comment, I assume the method implements the FIDE / USCF rule. Then

[2021-04-26 00:18] bhlangonijr commented on #63
Hi @liebig would you do a PR for this one?

[2021-04-26 00:19] #61 closed

[2021-04-26 00:57] #63 closed

[2021-04-26 22:58] dlbbld commented on #67
Please check pull request https://github.com/bhlangonijr/chesslib/pull/68.
Also contains the "one-sided" insufficient material checks mentioned in #41.

[2021-05-01 08:16] #41 closed

[2021-05-01 08:16] dlbbld commented on #41
Closing the issue as it became stale.

[2021-05-01 08:17] #50 closed

[2021-05-01 08:17] dlbbld commented on #50
Closing the issue as it became stale.

[2021-05-01 08:17] #52 closed

[2021-05-01 08:17] dlbbld commented on #52
Closing the issue as it became stale.

[2021-05-01 08:17] #67 closed

[2021-05-01 08:17] dlbbld commented on #67
Closing the issue as it became stale.

[2021-05-17 13:16] ZeroOne3010 opened #70 "Rename "Variation" to "Variant""
I propose that `GameLoader` and the other relevant classes are changed to read PGN tag "Variant" instead of the current "Variation". [Wikipedia has this to say about the subject](https://en.wikipedia.org/wiki/Portable_Game_Notation):

As  a practical example from the wild, Lichess exports the games with the "Variant" tag.

My hope would be that eventually the game loading system could be modified

[2021-06-02 02:47] TheDukerChip opened #71 "Migrate to Maven Central"
JCenter and Bintray is shutting down so please migrate to Maven Central

[Bintray Anouncement](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)
[Maven guide](https://maven.apache.org/repository/index.html)

[2021-07-24 09:41] Oziomajnr opened #72 "Exception is thrown for invalid time control tag"
When the time control tag is invalid, a PGN exception is thrown

https://github.com/bhlangonijr/chesslib/blob/25435a6107292e3b75a9b57f91a40548b7058dca/src/main/java/com/github/bhlangonijr/chesslib/pgn/GameLoader.java#L162

Is this a good reason to break the whole PGN parsing process? The logic for parsing the time control tag allows that the time control tag could be absent and in that case the ti

[2021-07-26 11:48] bhlangonijr commented on #72
Hey @Oziomajnr , I agree with you. Instead of throwing the exception it can just log a warning message. I'll add this change in the next release.

Thank you

[2021-09-07 21:54] marciusbrandao opened #73 "Comment e Nag"
How do I get the comment (and Nag) of a move?

[2021-10-14 08:19] Smartie1242 opened #74 "Board.legalMoves() gives moveGeneratorException"
Given the board configuration "r2k3r/p1q1b1p1/4b2p/nB1pp3/8/P2PB3/1PP2PPP/R3K2R b KQkq - 0 2". The following error is given:
`com.github.bhlangonijr.chesslib.move.MoveGeneratorException: Couldn't generate Legal moves:
    at com.github.bhlangonijr.chesslib.move.MoveGenerator.generateLegalMoves (MoveGenerator.java:352)
    at com.github.bhlangonijr.chesslib.Board.legalMoves (Board.java:1399)
    at

[2021-10-23 04:32] #74 closed, assigned to nobody

[2021-10-27 18:08] martynasb opened #75 "Idiomatic way to traverse a Game"
The `README.md` could do with an example showing how to traverse a `Game`, both the mainline and variations.

[2021-11-09 13:45] phikui opened #76 "isMoveLegal does not behave as expected"
I am using this library to create a chess GUI and I noticed that `isMoveLegal` validates some moves that are clearly illegal

[code]

Expected behavior: print false

Observed behavior: print true

The workaround I am using for now is the following since move generation seems to be correct:
[code]

[2021-11-10 22:57] bhlangonijr commented on #76
Hi @phikui ,
It may sound a bit counter-intuitive but the API is actually behaving as expected. Board#isLegalMove() is only checking if that move is not gonna leave the current chess Board in an illegal state after the move is played. You could, for example, design a chess UI where you can drag and drop chess pieces for setting up an arbitrary chess position where you are free to shuffle around al

[2021-11-11 22:37] phikui commented on #76
Thank you for the answer, but it is counter-intuitive in the naming as you mention.

But I have a follow-up question that goes back to the original scenario of having a move supplied externally, say user input. Is generating all moves to do

[code]
the intended way to do this?

[2021-11-12 00:48] bhlangonijr commented on #76
yes, this is how you do it if the user input is intended to be played on the board by applying the standard chess rules. Now, say you are creating a chess board editor and the user is just shuffling around the pieces on it. In that case you just need to call `Board#isMoveLegal()` to make sure the resulting position is a valid one.

Also, by getting all legal moves you could do things like highligh

[2021-12-04 23:09] #65 closed

[2021-12-04 23:09] #72 closed

[2021-12-05 13:04] #76 closed

[2021-12-09 06:21] parc18 opened #81 "How to validate the move?"

[2021-12-10 15:58] bhlangonijr commented on #81
In order to validate if `select_move` is a legal move in standard chess rules you can do something like:
[code]
if you just want to validate if shuffling around some piece within the chessboard - which is not necessarily a legal move - leaves it in a valid state (i.e.: own king is not attacked after the move):

[code]
this is particularly useful when for example you are implementing a GUI with a d

[2021-12-20 14:47] seize-the-dave opened #83 "Support for java.io.Reader and java.io.Writer compatible implementations for reading and writing PGN and FEN"
Hi,

I noticed that the Board class has responsibility for loading and outputting FEN strings, and that you have a PgnHolder for reading and writing PGNs to files.  I wondered if I could contribute a more java.io idiomatic way of doing this, e.g.

[code]

[code]

What do you think?

[2021-12-24 20:45] #81 closed

[2021-12-28 19:25] osvitashev opened #89 "JProfiler, Perft and performance observations"
I decided to run Perft function with JProfiler.
Overall, Perft runs at about 3 million nodes/second on my machine, which is pretty slow, but i realize that Java is supposed to be slower than C++. For comparison, kz04px/libchess which is written in C++ runs at about 50 million nodes/second.
Here are some observations:

- LinkedList.add and LinkedList.addLast together contribute to 30% of both CPU a

[2021-12-31 21:19] alessandrodalbello opened #90 "Review and improve Javadoc"
Hi Carlos,

first of all, awesome project! Thank you for your hard work 🙏🏻

It would be super to expand and improve the Javadoc comments, especially for people like me who are not familiar (yet) with the APIs of your library.

For instance, in the class `MoveGenerator`:
[code]
In the above example, the comment is most likely incorrect (it probably refers to the `generatePawnCaptures` method), and

[2022-01-01 14:01] alessandrodalbello opened #91 "Upgrade to Java 11"
Despite being popular and still considerably adopted, Java 8 will soon get to the end of public support. The release of the latest LTS Java version (September 2021) made version 11 the oldest reliable LTS Java practical choice. Moving to Java 11 would be beneficial both in terms of syntax and performance.

Moreover, at the moment there are already two aspects that require `chesslib` to use Java 11

[2022-01-01 16:14] alessandrodalbello commented on #90
FYI, started working on this in [this forked branch](https://github.com/alessandrodalbello/chesslib/tree/ISSUE-90). Let me know if you have any objections.

[2022-01-02 05:17] bhlangonijr commented on #90
Hello @alessandrodalbello ,
I am very much interested in your contributions. It'd be nice though to keep a single repo. You could send some PRs and I'd gladly merge than into this repo if it makes sense. This library is a byproduct of a chess GUi I was developing in the past (back in 2012) and this is true we have some dust and loose ends here and there. Looking forward to your PRs.

[2022-01-02 08:49] alessandrodalbello commented on #90
Good Carlos, thanks. I'll move the forked branch back into this repo and open the PRs when ready.

[2022-01-03 20:42] WolandPL opened #92 "Nested variations handling"
Hi! Does the chesslib handle multiple variations nested in the PGN in a single game (i.e. a game with analysis)?

[2022-01-05 15:47] andrebrunner commented on #92
I think there is a problem with the pgn-parser.
For example
1. d4 f5 2. Nc3 Nf6 3. Bg5 d5 4. f3 c5 5. dxc5 (5. e4 5. .. Nc6 6. Bb5 a6
(6. .. h6 7. Bxf6 gxf6 8. exd5) 7. Bxc6+ bxc6 8. e5) (5. e3 e6) 5. .. d4 6.
Nb1 (6. Na4 Qa5+ 7. c3 Bd7 8. b3 dxc3) 6. .. e5 *
the second (5. e3 e6) variation is not correctly integrated in the variations array ...

[2022-01-05 20:33] alessandrodalbello opened #93 "Reduce the visibility of protected static methods"
The `MoveList` implementation contains a couple of protected static methods that depend on the thread-local reference of the board used as a support for the class itself. Honestly, I don't see any reason to expose the internals to sub-classes and other classes in the same package. I believe they could be "safely" converted to private methods and used only internally as support for the `MoveList` f

[2022-01-06 15:48] alessandrodalbello opened #94 "Higher coverage of unit tests"
To increase the testing coverage, strengthen the existing ones, and re-organize the packages inside the _test_ folder to reflect the ones present in _main_. This will open to refactors and code adjustments headed to improve the performance and code readability. It will also make it easier for developers to spot possible defects in the current implementation.

Possibly, a coverage badge could be ad

[2022-01-16 15:29] alessandrodalbello commented on #90
Solved in #95.

[2022-01-16 15:29] #90 closed

[2022-03-28 17:04] dlbbld opened #97 "Using toSanArray fails when board is loaded from FEN"
The method `toSanArray` allows getting the SAN for a played move. BTW, it would also be nice if there is a more convenient way to achieve this.

But the method only works if the board is created from the initial position. If created from FEN it throws a NullPointerException.

So as such, I see no way to get the SAN for a played move when the board was constructed with a FEN, which is a major use c

[2022-03-28 17:22] dlbbld opened #98 "getEnPassantTarget and isEnPassantMove do not work as expected"
The `getEnPassantTarget` on the `Board` and `MoveBackup` class does not work as expected, as well `isEnPassantMove` on class `MoveBackup`.

[code]

[2022-06-22 09:34] intothephone opened #99 "Why the game object initialization depends on player property during parsing pgn?"
"The PGN parsing process should not depend on property orders."
I had lots of pgn files in which "Result" propery before "White" or "Black" property, for example:

[Event "1st World U20 ch"]
[Site "Birmingham ENG"]
[Date "1951.06.20"]
[EventDate "1951.??.??"]
[Round "9"]
[Result "1-0"]
[White "Bent Larsen"]
[Black "Lionel Joyner"]
[ECO "C30"]
[WhiteElo "?"]
[BlackElo "?"]
[PlyCount "63"]

1. e4 e5

[2022-08-17 17:34] jalpp opened #101 "Support For board state to Image"
It be nice if the lib supports image generation based on board state printing out the board state is good for logging but sharing a chess board in image format is more useful

Thanks

[2022-08-19 03:54] Oziomajnr commented on #101
Might be a big ask from a chess library, but I implemented something similar for android here https://github.com/Oziomajnr/PgnToGif/blob/main/app/src/main/java/com/chunkymonkey/pgntogifconverter/converter/ChessBoardToBitmapConverter.kt
it converts a board state to Bitmap, the implementation can be adapted to suit your need.

[2022-09-19 23:45] #101 closed

[2022-09-26 20:36] #98 closed

[2022-09-26 20:39] #97 closed

[2022-10-03 22:36] dcolazin commented on #97
Hi, why did you close the issue?